body {
  background-color: #e5d7c4;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgb(53, 64, 36, 0.7);
  width: 100%;
}
.page-container {
  margin-left: 10%;
  /*   margin-right: 10%;
 */
}
.header-options {
  list-style: none;
  text-align: left;
  padding-left: 30px;
}

.header-options1 {
  margin-left: auto;
  margin-right: 25px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header-container {
  margin-left: 10%;
  margin-right: 10%;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "playfair";
  padding-left: 0;
  list-style: none;
}

.rivia-logo {
  width: 100px;
}

.button2 {
  color: #e5d7c4;
  font-size: 25px;
  font-family: "playfair";
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.favourites,
.login {
  background-color: #e5d7c4;
  border-radius: 20%;
  padding: 0;
  align-items: center;
  height: 55.4px;
  width: 55.4px;
  border: none;
  display: flex;
  justify-content: center;
}

.favourites-img,
.login-img {
  width: 70%;
}

/* main body */
main {
  padding-top: 93.75px;
}

.introduction-texts {
  width: 100%;
  text-align: center;
  font-family: "playfair display";
}

.wtr-text {
  color: #4c3d19;
  text-decoration: none;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 1.5rem;
  margin-right: 10%;
}

.intro-text-container {
  margin-right: 16%;
  margin-left: 6%;
}

.intro-text {
  color: black;
  font-size: 25px;
  font-family: "lora";
  font-weight: 100;
}

.hungry {
  font-weight: 400;
  color: #4c3d19;
  margin-right: 10%;
}

/* Search bar */ /* cite this as well */
.search-box {
  width: 600px;
  background: white;
  /*   margin: 50px auto 0;
 */
  border-radius: 5px;
  margin-left: 22.5%;
  margin-top: 50px;
  /*   margin-right: 10%;
 */
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
}

.search-button {
  background: transparent;
  border: 0;
  outline: 0;
}

button .search-icon {
  width: 35px;
  cursor: pointer;
}

.result-box ul {
  border-top: 2px solid #999;
  padding: 15px 10px;
  display: grid;
  grid-row: inherit;
  margin: 0;
}

.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: "lora";
}

.result-box ul li:hover {
  background: rgb(53, 64, 36, 0.4);
}

.result-box {
  max-height: 150px;
  overflow-y: scroll;
}

/*category pictures in main page*/
.category-grid {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  margin-bottom: 3rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-right: 0;
}

.category-card {
  background-color: transparent;
  text-align: center;
  background: none;
}

.category-grid img {
  height: auto;
  border-radius: 5%;
  background: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

img:hover {
  cursor: pointer;
}

.category-card h3 {
  margin-top: 10px;
  font-weight: 400;
  color: #4c3d19;
  font-family: "poppins";
  margin-top: 0;
  text-align: left;
}

.category-header {
  font-family: "lora";
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 200;
  color: #4c3d19;
}

.popular-header {
  font-family: "lora";
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 200;
  color: #4c3d19;
}

.icon:hover {
  cursor: pointer;
}
/* footer */

footer {
  width: 100%;
  background-color: rgb(53, 64, 36, 0.7);
}

.footer-options {
  display: grid;
  grid-template-rows: repeat(3, 0.5fr);
  padding-left: 15px;
  text-decoration: none;
}

h1 {
  font-weight: 550;
  font-family: "poppins";
  color: #e5d7c4;
  padding-left: 15px;
}

p1,
p2 {
  color: #e5d7c4;
  font-family: "poppins";
}

/* Favourite Recipes Page */

.fr-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "playfair";
}

.fav-heading {
  color: #4c3d19;
}

.fav-rec-name {
  color: #4c3d19;
  text-decoration-color: transparent;
  font-size: 1.17em;
  margin-top: 10px;
  font-weight: 400;
  font-family: "poppins";
  margin-top: 0;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.favourite-image {
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 260px;
}
.remove-btn {
  background-color: transparent;
  border-width: 0;
  font-family: "poppins";
  font-size: 15px;
}

#favourites-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.name-container {
  text-decoration: none;
}

.footer-container {
  margin-left: 10%;
  margin-right: 10%;
}

.footer-columns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 100px;
  text-align: left;
}

.footer-div {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  padding: 0 50px;
  padding-bottom: 20px;
}

.footer-options,
.contact-info,
.socials-info {
  font-family: "poppins";
  color: #e5d7c4;
  text-decoration: none;
  display: block;
  padding-left: 15px;
  margin: 5px 0;
}
.social-icons img {
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease;
}
h1 {
  font-size: x-large;
  font-weight: 550;
  font-family: "poppins";
  color: #e5d7c4;
}
